.signInWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Manrope', sans-serif;
  background-color: #f4f4f4;
  overflow: hidden;
  z-index: auto;
}

.signInHeader {
  text-align: center;
  width: 100%;
  font-family: 'Manrope SemiBold', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.signInBackgroundContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.signInEllipse {
  position: absolute;
  width: 60rem;
  height: 60rem;
}

.signInEllipseTop {
  bottom: 0;
  right: 0;
  transform: translate(1%, -40%);
}

.signInEllipseBottom {
  top: 0;
  left: 0;
  transform: translate(-1%, 40%);
}

.signInContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.signInForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: #d0cece 0.1rem solid;
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 3rem 2rem;
  width: 35rem;
  height: 31rem;
}

.signInInput {
  box-sizing: border-box;
  border: #d0cece 0.1rem solid;
  font-family: 'Manrope Light', sans-serif;
  font-size: 1rem;
  border-radius: 0.85rem;
  padding: 0.75rem;
  width: 22.5rem;
  height: 3.35rem;
  margin: 0.5rem 0;
}

.signInText {
  align-self: flex-start;
  font-weight: normal;
  font-family: 'Manrope Light', sans-serif;
  font-size: 1.05rem;
  margin-left: 4rem;
}

.signInForgot {
  align-self: flex-end;
  margin-right: 4.25rem;
  font-size: 0.85rem;
  font-family: 'Manrope Light', sans-serif;
  color: #197ccd;
  cursor: pointer;
}

.signInButton {
  font-family: 'Manrope SemiBold', sans-serif;
  font-size: 1.15rem;
  color: #ffffff;
  background-color: #197ccd;
  border: none;
  border-radius: 0.85rem;
  width: 22.5rem;
  height: 3.35rem;
  margin-top: 1.5rem;
}

.signInLogoContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 10;
  background: transparent;
}

.signInLogo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: 'Circular Std', sans-serif;
  font-weight: bold;
  font-size: 2.15rem;
  padding-left: 4rem;
  padding-top: 1.5rem;
  width: 100%;
  box-sizing: border-box;
}

.signInLogoName {
  margin-left: 1rem;
}

.click {
  cursor: pointer;
}
