.helpContent {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin-top: 2rem;
  padding: 1rem;
}

.helpSection {
  display: flex;
  flex-direction: column;
  gap: 0.85rem;
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 12px;
  flex: 1;
  border: 1px solid #8c8e93;
}

.headerCaption {
  font-weight: bold;
  font-size: 2rem;
  font-family: 'Manrope SemiBold', sans-serif;
}

.helpCaption {
  font-size: 1.05rem;
  font-family: 'Manrope Light', sans-serif;
  color: #197ccd;
}

.helpHeader {
  margin-top: 1.5rem;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  font-family: 'Manrope SemiBold', sans-serif;
}

.responseHeader {
  font-weight: bold;
  font-size: 1.5rem;
  font-family: 'Manrope SemiBold', sans-serif;
}

.helpResponse {
  margin: 1rem;
  padding: 1.5rem;
  background-color: #ffffff;
  border-radius: 12px;
  border: 1px solid #8c8e93;
}

.helpResponseContent {
  margin-top: 1rem;
  font-family: 'Manrope Light', sans-serif;
  font-size: 1.05rem;
  line-height: 1.5;
  color: #d0cece;
}
